<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<ion-content>

<div class="top">
  <div class="back">
    <button routerLink="/tabs/tab1" style="background-color: rgba(240, 248, 255, 0);"><ion-icon  size="large" class="btnback" color="light" name="arrow-back-outline"></ion-icon></button> 
    <h2 class="txt">Regresar</h2>
  </div>

  <div class="inf">
<img class="img" src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="">
<h2 class="name">Julio Barros</h2>
<h2 class="rol">Administrador</h2>
  </div>
</div>
<div class="bottom">
  


  <ion-list class="list">
    <ion-item>
      <ion-label>Nombre completo</ion-label>
      <ion-label  class="data">Julio Mateo Barros Molina</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-label class="data">Docente</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-label class="data">algosafas♠gmail.com</ion-label>
    </ion-item>
  </ion-list>
  <ion-button shape="round" class="infor" href="https://ionicframework.com/docs/reference/support" color="warning"> Mas información <ion-icon name="information-circle-outline"></ion-icon></ion-button>
  <ion-button shape="round" class="infor" href="https://github.com/dmogrovejo16"> Conocenos</ion-button>

<ion-button shape="round" class="logout" id="algo" color="tertiary"> Cerrar Sesión <ion-icon size="large" name="log-out-outline"></ion-icon></ion-button>

<ion-toast trigger="algo" color="danger" message="Error: No se pudo realizar la accion, intente mas tarde" [duration]="5000" icon="close-circle-outline"></ion-toast>
</div>

</ion-content>