<ion-header style="margin-bottom: 0;">
  <ion-toolbar color="success" style="margin-bottom: 0;">
  <div class="frame-1">

  <img class="image-1" src="https://img.freepik.com/free-icon/soccer_318-904945.jpg?w=2000" />
  <div class="futbol">FUTBOL</div>
<button class="back" routerLink="/tabs/tab1">
  <ion-icon class="image-2" name="home-sharp" size="small"></ion-icon>
</button>
</div>
</ion-toolbar>
</ion-header>

<ion-content style="margin-top: 0; padding: 0;">

<div class="partidos">
  <ion-list style="margin: 0;">
    <ion-item>
      <ion-label>Final</ion-label>
    </ion-item>
  </ion-list>

<div class="frame-13">
  <img class="image-15" src="https://img.playbuzz.com/image/upload/q_auto:best,f_auto,fl_lossy,w_640,c_limit,dpr_2.5/v1536163719/tvtev7evufuljzmjd1l9.png" />
  <img class="image-16" src="https://img.playbuzz.com/image/upload/q_auto:best,f_auto,fl_lossy,w_640,c_limit,dpr_2.5/v1536163712/vlicwlpagkmii0suwzjg.png" /> 
  <div class="_15-03-2023-14-20">15/03/2023 14:20</div>
  <div class="__">_</div>
  <div class="_2">_</div>
  <div class="vs">vs</div>
</div>

<ion-list>
  <ion-item>
    <ion-label>Semifinales</ion-label>
  </ion-item>
</ion-list>
<div class="frame-13">
  <img class="image-15" src="https://img.playbuzz.com/image/upload/q_auto:best,f_auto,fl_lossy,w_640,c_limit,dpr_2.5/v1536163931/lztgehqvktpxwrrsolt5.png" />
  <img class="image-16" src="https://img.playbuzz.com/image/upload/q_auto:best,f_auto,fl_lossy,w_640,c_limit,dpr_2.5/v1536163712/vlicwlpagkmii0suwzjg.png" /> 
  <div class="_15-03-2023-14-20">15/03/2023 14:20</div>
  <div class="__">_</div>
  <div class="_2">_</div>
  <div class="vs">vs</div>
</div>
<div class="frame-13">
  <img class="image-15" src="https://seeklogo.com/images/R/Real_Madrid_Club_de_Futbol-logo-60682932F8-seeklogo.com.png" />
  <img class="image-16" src="https://img.playbuzz.com/image/upload/q_auto:best,f_auto,fl_lossy,w_640,c_limit,dpr_2.5/v1536163719/tvtev7evufuljzmjd1l9.png" /> 
  <div class="_15-03-2023-14-20">15/03/2023 14:20</div>
  <div class="__">_</div>
  <div class="_2">_</div>
  <div class="vs">vs</div>
</div>

<ion-list>
  <ion-item>
    <ion-label>Cuartos de final</ion-label>
  </ion-item>
</ion-list>
<div class="frame-13">
  <img class="image-15" src="https://bolavip.com/__export/1617295631587/sites/bolavip/img/2021/04/01/brugge.png_334548866.png" />
  <img class="image-16" src="https://seeklogo.com/images/R/Real_Madrid_Club_de_Futbol-logo-60682932F8-seeklogo.com.png" /> 
  <div class="_15-03-2023-14-20">15/03/2023 14:20</div>
  <div class="__">_</div>
  <div class="_2">_</div>
  <div class="vs">vs</div>
</div>
<div class="frame-13">
  <img class="image-15" src="https://img.playbuzz.com/image/upload/q_auto:best,f_auto,fl_lossy,w_640,c_limit,dpr_2.5/v1536163931/lztgehqvktpxwrrsolt5.png" />
  <img class="image-16" src="https://i.pinimg.com/originals/c1/3b/ba/c13bba196a0bb0bbf0d4428e1bcc191c.png" /> 
  <div class="_15-03-2023-14-20">15/03/2023 14:20</div>
  <div class="__">_</div>
  <div class="_2">_</div>
  <div class="vs">vs</div>
</div>

<div class="frame-13">
  <img class="image-15" src="https://1000marcas.net/wp-content/uploads/2020/02/Logo-Manchester-United.png" />
  <img class="image-16" src="https://www.ligafutbol.net/wp-content/2009/04/arsenal.png" /> 
  <div class="_15-03-2023-14-20">15/03/2023 14:20</div>
  <div class="__">_</div>
  <div class="_2">_</div>
  <div class="vs">vs</div>
</div>

<div class="frame-13">
  <img class="image-15" src="https://bolavip.com/__export/1617295520629/sites/bolavip/img/2021/04/01/valencia_1.png_336395908.png" />
  <img class="image-16" src="https://pics.todoporelfutbol.com/download?object_name=Team&object_id=10883" /> 
  <div class="_15-03-2023-14-20">15/03/2023 14:20</div>
  <div class="__">_</div>
  <div class="_2">_</div>
  <div class="vs">vs</div>
</div>
</div>
</ion-content>